{:paths ["src" "resources"]
 :deps {org.clojure/clojure          {:mvn/version "1.12.4"}
        sudorock/glass               {:git/url "https://github.com/sudorock/glass"
                                      :git/sha "50c34ba03bc2fb3e5b1c260e5858031b400ae91c"
                                      :exclusions [ring/ring-jetty-adapter]}
        metosin/malli                {:mvn/version "0.20.1"}
        org.clojure/tools.namespace  {:mvn/version "1.5.0"}
        io.pedestal/pedestal.service {:mvn/version "0.8.1"}
        io.pedestal/pedestal.jetty   {:mvn/version "0.8.1"}
        nrepl/nrepl                  {:mvn/version "1.6.0"}}
 :aliases {:dev {:extra-paths ["dev"]}}}
